html,
body {
    background-color: #0B0B0B;
    font-family: "Lora", serif;
    max-width: 1440px;
    margin: auto;
}

a {
    text-decoration: none;
}

/* ------------------------------------------------------------- */

.header {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .text-golden {
    color: #FFF9C0;
}

.header .list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;
    border: 1px solid gold;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.3);
}

.header .list .item {
    color: #FFC24B;
}

.header .display {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .display .btn-sing-in {
    color: #FFF9C0;
    border: 1px solid gold;
    border-radius: 12px;
    padding: 20px 35px;
    background-color: #0B0B0B;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.3);
}

.header .display .btn-sing-up {
    background-color: #f2ba5a21;
    color: #FFF9C0;
    border-radius: 12px;
    border: 1px solid gold;
    padding: 20px 35px;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.3);
}

/* ------------------------------------------------------------- */

.hero-sct {
    background-image: url("./assest/image/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-sct .bg {
    background: radial-gradient(circle, #0b0b0b00, #0B0B0B 82%);
}

.hero-sct .bg .title {
    text-align: center;
    margin-bottom: -65px;
    font-size: 5rem;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(10deg, #EFA036, #FFEAAD);
}

.hero-sct .bg .img-honey {
    margin: auto;
    width: 38%;
}

/* ------------------------------------------------------------- */

.sct-two {
    margin-top: 70px;
}

.sct-two .part-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.sct-two .part-top .display {
    display: flex;
    align-items: center;
    gap: 6px;
}

.sct-two .part-top .line {
    height: 4px;
    background: linear-gradient(90deg, #FFBA41, #0B0B0B);
    border-radius: 5px;
    width: 50%;
}

.sct-two .part-top .display {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sct-two .part-top .display .title {
    color: #FFF9C0;
    font-size: 40px;
}

.sct-two .part-botton {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.sct-two .part-botton .width {
    width: 35%;
}

.sct-two .part-botton .width .text {
    color: #FFF9C0;
    line-height: 50px;
    font-size: 18px;
}

.sct-two .part-botton .width .btn-more {
    background-color: #0B0B0B;
    color: #FFF9C0;
    border: 1px solid gold;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.3);
    font-size: 16px;
    margin-top: 20px;
}

.sct-two .part-botton .img-honey {
    width: 30%;
}

/* ------------------------------------------------------------- */

.sct-tree {
    margin-top: 70px;
}

.sct-three .part-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.sct-three .part-top .display {
    display: flex;
    align-items: center;
    gap: 6px;
}

.sct-three .part-top .line {
    height: 4px;
    background: linear-gradient(90deg, #FFBA41, #0B0B0B);
    border-radius: 5px;
    width: 50%;
}

.sct-three .part-top .display {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sct-three .part-top .display .title {
    color: #FFF9C0;
    font-size: 40px;
}